%h1 Edit

= form_for(@user) do |f|
  = render 'fields', :f => f
  .actions
    = f.submit "Edit"

.grav
  = gravatar_for @user
  = link_to 'Change', 'http://www.gravatar.com/email', :target => "_blank"
